*  {
    box-sizing: border-box;
    font-family: 'Peralta', cursive;
}

body {
    margin: 0 auto;
}

h1 {
    color: rgb(143,157,133);
    text-align: center;
}

h2 {
    color: rgb(143,157,133);
    text-align: center;
}

h3 {
    color: rgb(143,157,133);
    display: flex;
    justify-content: center;
}
/* div {
    border: 1px solid #ff0000;
} */

/* .spacemanEl {
    background-repeat: ;
} */

#alphabet {
    display: flex;
    justify-content: center;
}


button {
    background-color: beige;
}

#playbtn {
    display: flex;
    justify-content: center;
}