*  {
    box-sizing: border-box;
    font-family: 'Peralta', cursive;
}

body {
    margin: 0 auto;
    height: 100vh;
    font-family: 'Peralta', cursive;
  }

main {

}

h1 {
    color: rgb(240,204,181);
    text-align: left;
    margin-left: 10vh
}

.alphabet {
    display: inline-block;
    float: right;
    margin-right: 10vh;
}

.playbtn {
    background-color: rgb(189,186,169);
    color: beige;
    display: flex;
    align-items: center;
    margin-left: 10vh;
}


