*  {
    box-sizing: border-box;
    font-family: 'Peralta', cursive;
}

h1 {
    text-align: end;
    color: rgb(143,157,133);
}

h2 {
    color: rgb(143,157,133);
}

h3 {
    color: rgb(143,157,133);
}
/* div {
    border: 1px solid #ff0000;
} */

.alphabet {
    display: flex;
    justify-content: center;
}


button {
    background-color: beige;
}

.playbtn {
    display: flex;
    justify-content: center;
}